body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  margin: 2rem;
}
.App-header{
  display: flex;
}
.container table .completed td span{
  text-decoration-line: line-through;
}
.add-button {
  margin: 0 0 0 .5rem;
}
.del-button{
  margin: 0 0 0 .5rem;
}
